/* ==================== COMMON STYLES ==================== */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* ==================== /COMMON STYLES ==================== */

/* ==================== HEADER STYLES ==================== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* ==================== /HEADER STYLES ==================== */

/* ==================== MAIN STYLES ==================== */
/* --Section 1-- */
.hero-section {
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
}

.main-title {
  display: block;
  margin: 0 auto;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.ord-serv-btn {
  display: block;
  background-color: #4d5ae5;
  padding: 16px 32px;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  margin: 48px auto 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.ord-serv-btn:hover,
.ord-serv-btn:focus {
  background-color: #404bbf;
}

/* --Section 2-- */
.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* --Section 3-- */
.our-team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.name-and-position {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list-text {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --Section 4-- */
.portfolio-section {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.name-and-category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ==================== /MAIN STYLES ==================== */

/* ==================== FOOTER STYLES ==================== */

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* ==================== /FOOTER STYLES ==================== */
